{% extends 'base.html.twig' %}

{% block title %}Hello VisitorController!{% endblock %}

{% block body %}
    <div class="payed container-md py-5">
        <h1 class="display-1 text-center pb-5">Bedankt voor je bestelling!</h1>
        <img class="mx-auto d-block" src="../{{ asset('img/bedankt.jpg') }}" alt="bedankje">
        <h2 class="display-4 text-center">Bon appetit!</h2>
    </div>
{% endblock %}